* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif, 'Josefin Sans', sans-serif;
    letter-spacing: .5px;
}

header {
    display: flex;
    flex-flow: column wrap;
}

h1 {
    display: flex;
    width: 100%;
    font-size: x-large;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 50px;

}

.headerdiv {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 30px 15px;
    margin: 2px 15px;
    border-bottom: black solid 5px;
}

.headerdiv h2 {
    font-size: larger;
    font-weight: 700;
    color: black;
    margin: 10px 0;
}

.headerdiv p {
    text-align: center;
}

main {
    margin: 2px 15px;
    border-top: black solid 3px;
    padding: 20px;
}

fieldset {
    display: flex;
    flex-flow: column wrap;
    margin-top: 30px;

}

#area {
    border-radius: 5px;
}

legend {
    font-weight: 700;
    margin-bottom: 30px;

}

input,
select {
    background-color: whitesmoke;
    margin: 20px 0px;
    height: 3em;
}

.column {
    display: flex;
    flex-flow: row;
    border: 3px solid firebrick;
}
