/* Base Styles ---------------- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif, 'Josefin Sans', sans-serif;
    letter-spacing: .5px;
}

header {
    display: flex;
    flex-flow: column wrap;
}

h1 {
    display: flex;
    width: 100%;
    font-size: x-large;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 50px;

}

.headerdiv {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 30px 15px;
    margin: 2px 20px;
    border-bottom: black solid 5px;
}

.headerdiv h2 {
    font-size: larger;
    font-weight: 700;
    color: black;
    margin: 10px 0;
}


.headerdiv p {
    text-align: center;
}


/* Main Styles ---------------- */

main {
    margin: 2px 20px;
    border-top: black solid 3px;
    padding: 20px;
}

fieldset,
.contact-div {
    display: flex;
    flex-flow: column wrap;
    margin-top: 30px;

}

legend {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: xx-large;
}

input,
select,
textarea {
    background-color: lightslategray;
    margin: 20px 0px;
    height: 3em;
    border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus {
    transition: background-color 0.5s ease;
    background-color: rgb(180, 146, 146);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
    outline: 2px solid lightblue;
}

label {
    opacity: 850%;
    color: rgb(97, 197, 204);
}


/* Class And Id Styles ---------------- */

.check-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  
}

.check-container label {
    margin: 0px 10px;
}

.check-container input {
    margin: 0px;
    padding: 0px;
}

.heading-para {
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(97, 197, 204);
}
.radio-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.radio-container input {
    margin: 0px 3px;
    padding: 0px;
}

.radio-container label {
    margin: 0px 5px;
}

#second-border {
    border-top: black solid 3px;
    padding-top: 30px;
    width: 100%;
}

#area {
    border-radius: 5px;
    height: 100px;
}

#signup {
    background-color: rgb(97, 197, 204);
    color: white;
}

#signup:hover {
    border-bottom: 3px solid palevioletred;
}

#copyright {
    font-style: italic;
    text-align: center;
    font-weight: 100;
    opacity: 50%;
    color: black;
}

#zip {
    width: 50%;
}

/* Pseudo Class And Element Styles ---------------- */

label[for="area"] {
    margin-top: 25px;
    margin-bottom: 15px;
}

input::placeholder,
textarea::placeholder {
    color: black;
}

/* Media Queries ---------------- */

@media(min-width: 768px) {

    .contact-div {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .contact-div input,
    .contact-div select {
        flex-basis: 83%;
    }
    
    .contact-div label {
        flex-basis: 17%;
    }

    #zip {
        flex-basis: 25%;
    
    }
}